
@import 'variables.scss';

@font-face{
  font-family:'07やさしさアンチック';
  src: url('./fonts/07YasashisaAntique.otf') format('OpenType');
  font-weight:lighter;
  font-style:normal;
}
@font-face{
  font-family:'はんなり';
  src: url('./fonts/Hannari.otf') format('OpenType');
  font-weight:lighter;
  font-style:normal;
}
@font-face{
  font-family:'shirahunegyosho';
  src: url('./fonts/hkgyoiw.ttf') format('TrueType');
  font-style:normal;
}
@font-face{
  font-family:'gyosho';
  src: url('./fonts/gyosho.ttf') format('TrueType');
  font-style:normal;
}


body{
  background-color: #fffaeb;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    width:100%;
    margin:0;
    p,li,a,h1,h2,h3,h4,th,td{
        font-family:'はんなり'!important;
        font-weight:bold!important;
    }
}
.wrapper-80{
    width:80%;
    margin-right:10%!important;
    margin-left:10% !important;
    position:relative;
}
#app{
    position:relative;
    height:auto
}
a{
    color:white;
    text-decoration:none;
}
p,li,a,h1,h2,h3,h4,th{
  letter-spacing:-0.05rem;
}
@include sp (){
  p,li,a{
    font-size:1rem!important;
  }
  h1{
    font-size:1.5rem!important;
  }
  h2{
    font-size:1.3rem!important;
  }
  h3{
    font-size:1.2rem!important;
  }
  h4{
    font-size:1.2rem!important;
  }
  th{
    font-size:1.2rem!important;
  }
}
p,li,a{
  font-size:1.2rem;
}
h1{
  font-size:1.8rem;
}
h2{
  font-size:1.6rem;
}
h3{
  font-size:1.5rem;
}
h4{
  font-size:1.5rem;
}
th{
  font-size:1.5rem;
}


.wrapper60{
  width:60%;
  margin:50px auto!important;
  @include md(){
      width:80%;
  }
  @include sp(){
      width:90%;
  }
}
.sub-text{
  color:rgba(0,0,0,0.7)!important;
  font-size:1.1rem!important;
}
.absolute{
  position:absolute;
}
.relative{
  position:relative;
}
.detail{
  border-bottom:1px solid brown;
  font-weight:bold;
  width:60%;
  @include sp(){
      width:100%;
      margin:auto;
  }
  .info_name{
      color:brown;
  }
}
.for_access{
  border:1px solid black;
  padding:10px 10px;
  background-color:rgba(0,0,0,0.8);
  margin:10px 0;
  @include sp(){
    margin:10px auto;
  }
  a{
      color:white!important;
      list-style:none;
      cursor:pointer;
      p{
          text-align:center;
      }
  }
  li{
    color:white!important;
    list-style:none;
    cursor:pointer;
    p{
        text-align:center;
    }
}
  .absolute{
      top:50%;
      left:5px;
      width:30px!important;
      transform:translateY(-50%);
  }
}
.site-map{
  width:100%;
  height:1.2rem;
  background-color:black;
  position:absolute;
  top:calc(100%);
  transform:translateY(-100%);
  p{
      color:rgba(255,255,255,0.7);
      height:1rem;
      line-height:1rem;
      a{
          font-size:1rem!important;
      }
      @include sp(){
          padding-left:20px;
      }
      @include md(){
          padding-left:10vw;
      }
      @include lg(){
          padding-left:20vw;
      }
  }
}