
@import 'variables.scss';

@font-face{
  font-family:'07やさしさアンチック';
  src: url('./fonts/07YasashisaAntique.otf') format('OpenType');
  font-weight:lighter;
  font-style:normal;
}
@font-face{
  font-family:'はんなり';
  src: url('./fonts/Hannari.otf') format('OpenType');
  font-weight:lighter;
  font-style:normal;
}
@font-face{
  font-family:'shirahunegyosho';
  src: url('./fonts/hkgyoiw.ttf') format('TrueType');
  font-style:normal;
}
@font-face{
  font-family:'gyosho';
  src: url('./fonts/gyosho.ttf') format('TrueType');
  font-style:normal;
}


body{
  background-color: #fffaeb;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    width:100%;
    margin:0;
    p,li,a,h1,h2,h3,h4{
        font-family:'はんなり'!important;
    }
}
.wrapper-80{
    width:80%;
    margin-right:10%!important;
    margin-left:10% !important;
    position:relative;
}
#app{
    position:relative;
    height:auto
}
a{
    color:white;
    text-decoration:none;
}
@include sp (){
  p,li,a{
    font-size:1rem!important;
  }
  h1{
    font-size:1.5rem!important;
  }
  h2{
    font-size:1.3rem!important;
  }
  h3{
    font-size:1.2rem!important;
  }
  h4{
    font-size:1.2rem!important;
  }
}
.wrapper60{
  width:60%;
  margin:50px auto;
  @include md(){
      width:80%;
  }
  @include sp(){
      width:90%;
  }
}